# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Run ${{ matrix.xcode }}
    runs-on: ${{ matrix.runsOn }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        include:
          - xcode: "Xcode_16.4"
            runsOn: macos-15
          - xcode: "Xcode_26.0"
            runsOn: macos-26
    steps:
      - uses: actions/checkout@v4
      
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/${{ matrix.xcode }}.app
        
      - name: Build Prefire
        run: make build
        
      - name: Run PrefireExecutable Tests
        run: make test
